@import 'flavors/final.scss';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');

// Bootstrap bug fix
.dropdown-menu-right {
  right: 0;
  left: auto;
}

// SimpleBar override
.horizontal .simplebar-scrollbar {
  height: 5px !important;
}
.simplebar-scrollbar {
  width: 5px;

  &::before { background-color: $color-line-dark; }

  &.visible::before { opacity: 0.8 !important; }

}

// For indenting buttons inside section list
@mixin indentSection($levels) {

  @for $i from 0 through $levels {
    &.level-#{$i} {
      padding-left: 30px + (15px * $i);
    }
  }

}

html, body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  background-color: $color-background;
  color: $color-text-normal;
  position: relative;
  height: 100%;
}

.loader-container {
  background-color: $color-background;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: opacity .2s ease-in-out, visibility 0s ease-in-out .2s;
  z-index: 2000;

  .loader {
    width: 100px;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

}

hr {
  border-top: 1px solid $color-line-medium;
}

html.no-scroll,
body.no-scroll {
  overflow-y: hidden;
}

div.fixed-navbar-compensate {
  width: 100%;
  height: 100px;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: $color-header-background;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid $color-line-dark;

  @media (max-width: 576px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  & > .w-100 { width: calc(100% - 70px) !important; }

  // The header content width when versions dropbox is present
  & > .w-100-versions { width: calc(100% - 260px); }

  // The header content width when versions dropbox is hidden
  @media (max-width: 767px) {
    & > .w-100-versions { width: calc(100% - 70px); }
  }

  .navbar-title {
    color: $color-header-title;
    font-size: 40px;
    font-weight: 300;
    margin-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;

    &:first-child { margin-left: 0; }

  }

  .navbar-subtitle {
    color: $color-header-subtitle;
    font-size: 25px;
    font-weight: 300;
    margin-left: 20px;
    margin-bottom: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu-toggle {
    cursor: pointer;

    & path {
      fill: $color-text-normal;
      transition: fill .15s ease-in-out;
    }

    &:active path { fill: $color-link-default; }

  }

}

.dropdown-block {
  width: 100%;

  .version-list-toggle {
    width: 100%;
    border-radius: 0 !important;
    background-color: $color-header-background !important;
  }

  .version-list {
    border-radius: 0 !important;
    margin: 0 !important;
    left: -5px !important;
    width: 100%;
  }

}

.version-list-toggle {
  width: 200px;
  height: 50px;
  background-color: $color-side-panes-background !important;
  border: none;
  padding: 0 20px;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }

}

.btn-secondary.version-list-toggle {

  &:active,
  &:focus {
    color: $color-link-default;
    border: none;

    & > svg > path {
      fill: $color-link-default;
    }

  }

}

.version-list,
.version-list-toggle {

  color: $color-button-text;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 300;

  & > svg {
    margin-left: 20px;

    & > path {
      fill: $color-button-text;
      transition: fill .15s ease-in-out;
    }

  }

}

.version-list {
  background-color: $color-menu-item-background;
  box-shadow: 0 3px 20px rgba(0, 0 ,0, .1);
  border: none;

  // Links inside the version list
  & > .dropdown-item {
    color: $color-header-subtitle;
    background-color: $color-menu-item-background;
    display: flex;
    height: 50px;
    align-items: center;

    &:hover { background-color: $color-menu-item-background-hover; }
    &:active {
      background-color: $color-menu-item-background-hover;
      color: $color-link-default;
    }

  }

}

.slider-menu-shadow {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: $color-slider-menu-shadow;
  opacity: 0;
  z-index: 1031;
  visibility: hidden;
  transition: visibility 0s ease-in-out .25s, opacity .25s ease-in-out;

  &.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

}

.slider-menu {
  width: 85%;
  max-width: 500px;
  height: 100%;
  background-color: $color-side-panes-background;
  display: flex;
  left: -800px;
  transition: visibility .5s ease-in-out .5s, left .5s ease-in-out;
  border-right: 1px solid $color-line-dark;
  visibility: hidden;
  z-index: 1032;
  overflow-y: scroll;

  &.show {
    left: 0;
    visibility: visible;
    transition-delay: 0s;
  }

}

div.main-container {
  min-height: calc(100% - 100px);
  padding: 0;
  display: flex;
  flex-direction: column;

  & > .row {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

}

div.middle-pane {
  align-items: flex-start;
  padding: 30px 40px !important;
  overflow-x: hidden;
}

div.left-pane,
div.right-pane {
  background-color: $color-side-panes-background;
  transition: max-width .2s ease-in-out, flex-basis .2s ease-in-out;
  align-items: flex-start;
  overflow-x: hidden;
}

div.left-pane {
  border-right: 1px solid $color-line-dark;
}

div.right-pane {
  border-left: 1px solid $color-line-dark;
  padding: 0 30px 30px 30px !important;
  flex-direction: column;
}

.section-list {
  width: 100%;
  margin: 20px 0;

  & a { width: 100%; }

  // Buttons inside the section list
  & button {
    background-color: $color-menu-item-background;
    border-radius: 0;
    min-height: 50px;
    border: none;
    color: $color-button-text;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    padding: 10px 15px;
    padding-left: 30px;
    white-space: normal;
    box-shadow: none !important;

    &[class*="level-"] { padding-left: 90px; }

    &:hover {
      background-color: $color-menu-item-background-hover;
      color: $color-button-text;
    }

    &:active {
      color: $color-link-default !important;
      background-color: $color-menu-item-background-hover !important;
    }

    &.selected {
      color: $color-link-default;
    }

    @include indentSection(5);

  }

  & .section-parent {

    a { width: calc(100% - 50px) !important; }

    .chevron {
      width: 50px;
      user-select: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $color-menu-item-background;
      transition: background-color .15s ease-in-out;
      cursor: pointer;

      svg {
        transition: .15s ease-in-out;

        &.closed { transform: rotate(90deg); }

        path {
          fill: $color-text-normal;
          transition: fill .15s ease-in-out;
        }

      }

      &:hover { background-color: $color-menu-item-background-hover; }
      &:active svg > path { fill: $color-link-default; }

    }

    width: 100%;
    display: flex;
    align-items: stretch;
  }

  & .section-group {
    display: block;

    &.hide {
      display: none;
    }

  }

}

h1 {
  color: $color-text-h1;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

h1:not(:first-child) {
  margin-top: 20px;
}

@for $i from 2 through 6 {
  h#{$i}:not(:first-child) {
    margin-top: 10px;
  }
}

h1::after {
  content: '';
  display: block;
  background-color: $color-line-special;
  height: 2px;
  margin-top: 5px;
}

h2 {
  color: $color-text-h2;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 15px;
}

h2::after {
  content: '';
  display: block;
  background-color: $color-line-light;
  height: 2px;
  margin-top: 5px;
}

h3 {
  color: $color-text-h3;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

h4 {
  color: $color-text-h4;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
}

h5 {
  color: $color-text-h5;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

h6 {
  color: $color-text-h6;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

a {
  color: $color-link-default;
  transition: color .15s ease-in-out;

  &:hover,
  &:active {
    text-decoration: underline;
    color: $color-link-default;
  }

  &:visited { color: $color-link-default; }

}

code {
  background-color: $color-inline-code-background;
  color: $color-inline-code-text;
  padding: 3px 5px;
  border-radius: 5px;
}

pre {
  max-height: 300px !important;
  max-width: none !important;
  background-color: $color-block-code-background;
  color: $color-block-code-text;
  padding: 20px;
  overflow: visible;
  margin-bottom: 25px;
  margin-top: 5px;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: $color-block-code-background;
  }

  &::before {
    top: -5px;
    border-radius: 5px 5px 0 0;
  }

  &::after {
    bottom: -5px;
    border-radius: 0 0 5px 5px;
  }

  & > code {
    background-color: inherit;
    color: inherit;
    padding: 0;
    border-radius: 0;
  }

}

// Syntax Highlighting
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $color-syntax-comment;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: $color-syntax-number;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $color-syntax-string;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: $color-syntax-operator;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: $color-syntax-keyword;
}

.token.function {
  color: $color-syntax-function;
}

.token.class-name {
	color: $color-syntax-class;
}

.token.regex,
.token.important,
.token.variable {
	color: $color-syntax-variable;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

blockquote {
  background-color: $color-quote-background;
  color: $color-quote-text;
  padding: 10px 20px;
  border-radius: 5px;
  border-left: 5px solid $color-quote-line;

  & > p {
    color: inherit;
    margin: 0;
  }

}

p[class*="note-"] {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 15px 0;

  &::before {
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

}

p.note-info {
  background-color: $color-box-info-background;
  color: $color-box-info-text;
  svg > path { fill: $color-box-info-text; }

}

p.note-error {
  background-color: $color-box-error-background;
  color: $color-box-error-text;
  svg > path { fill: $color-box-error-text; }

}

p.note-success {
  background-color: $color-box-success-background;
  color: $color-box-success-text;
  svg > path { fill: $color-box-success-text; }

}

p.note-warning {
  background-color: $color-box-warning-background;
  color: $color-box-warning-text;
  svg > path { fill: $color-box-warning-text; }

}

table {
  width: 100%;
  margin-bottom: 20px;

  td {
    padding: 5px 10px;

    &:first-child { border-radius: 5px 0 0 5px; }
    &:last-child { border-radius: 0 5px 5px 0; }

  }

  tr {
    margin: 5px 0;
    border-radius: 5px;

    &:nth-child(odd) > td { background-color: $color-table-row-background-odd; }

    &:nth-child(even) > td {
      background-color: $color-table-row-background-even;

      code { background-color: $color-inline-code-background-right-pane; }

    }

  }

  th {
    color: $color-table-header;
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px 5px 10px;
  }

  thead { border-bottom: 1px solid $color-line-special; }

}

.powered-by {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  div.label {
    color: $color-quote-text;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 13px;
    text-align: center;
    margin-bottom: 5px;
    padding-left: 10px;
  }

}

img.img-block {
  width: 100%;
  border-radius: 5px;
}

span[class*="rest-method-"],
span[class*="rest-status-"] {
  padding: 0px 8px;
  margin-right: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

span[class*="rest-status-"] {
  color: $color-rest-status-default-text;
  background-color: $color-rest-status-default-background;
}

span[class*="rest-method-"] {
  color: $color-rest-method-default-text;
  background-color: $color-rest-method-default-background;
}

span.rest-method-get {
  color: $color-rest-method-get-text;
  background-color: $color-rest-method-get-background;
}

span.rest-method-post {
  color: $color-rest-method-post-text;
  background-color: $color-rest-method-post-background;
}

span.rest-method-put {
  color: $color-rest-method-put-text;
  background-color: $color-rest-method-put-background;
}

span.rest-method-delete {
  color: $color-rest-method-delete-text;
  background-color: $color-rest-method-delete-background;
}

span[class*="rest-status-1"] {
  color: $color-rest-status-info-text;
  background-color: $color-rest-status-info-background;
}

span[class*="rest-status-2"] {
  color: $color-rest-status-success-text;
  background-color: $color-rest-status-success-background;
}

span[class*="rest-status-4"] {
  color: $color-rest-status-warning-text;
  background-color: $color-rest-status-warning-background;
}

span[class*="rest-status-5"] {
  color: $color-rest-status-error-text;
  background-color: $color-rest-status-error-background;
}

.body-group > ul {
  padding-inline-start: 0px;
  margin-bottom: 0px;

  & > li {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    color: $color-tab-default;
    transition: color .15s ease-in-out;
    cursor: pointer;

    &.selected { color: $color-tab-selected; }

  }

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: $color-line-special;
  }

}

.body-group .body-group-content {

  & > * {
    display: none;
    &.show { display: block; }
  }

  & > table.show { display: table; }

  & > p {
    padding: 20px;
    background: $color-block-code-background;
    border-radius: 5px;
  }

  & > table {
    margin-top: 20px;
  }

}

.auth-icon {
  margin-right: 5px;
  margin-bottom: -3px;

  path {
    fill: $color-text-normal;
  }

}

// Right pane margin fix
.right-pane > div > *:first-child { margin-top: 0px !important; }

// Right pane color overrides
.right-pane {

  hr { border-top: 1px solid $color-line-dark; width: 100%; margin-bottom: 5px; }
  code { background-color: $color-inline-code-background-right-pane; }
  pre, pre::after, pre::before { background-color: $color-block-code-background-right-pane; }
  blockquote { background-color: $color-quote-background-right-pane; }
  table > tr:nth-child(even) { background-color: $color-table-row-background-even-right-pane; }
  .body-group .body-group-content > p { background-color: $color-block-code-background-right-pane; }

}
